<footer class="site-footer site-footer--photo">
  <img class="site-footer-bg" src="/assets/img/venue-exterior-1.jpg" alt="Our Lady of Perpetual Help church exterior" style="object-position: center 30%;" />
  <div class="site-footer-overlay"></div>
  <div class="container site-footer-content">
    <p class="brand">Peter &amp; Mary</p>
    <p class="site-footer-date">April 4, 2027</p>
    <p class="site-footer-contact">
      Questions? Reach us at
      <a href="mailto:peterandmarywedding27@gmail.com">peterandmarywedding27@gmail.com</a>
    </p>
    <button class="back-to-top" type="button">Return to Top</button>
  </div>
</footer>
